.hdb-content {
  top: unset;
  bottom: 0;
}

.hdb-content {
  border-block-end: 0;
  border-block-start: 1px solid var(--hdb-border-color);
  padding-left: 24px;
}

#hdb-toggle {
  top: unset;
  bottom: 0;
}

.hdb-menu .inner {
  top: unset;
  bottom: 32px;
}

.hdb-menu .inner {
  padding: 20px;
  padding-bottom: 10px;
  border-radius: 5px 5px 0 0;
  border: 1px solid var(--hdb-border-color);
  border-block-end: none;
}
