.debugprint_wrap {
    font-size: 1em;
    display: inline-block;
    margin-inline: auto;
    border-radius: 5px;
}

.debugprint td, .debugprint th {
    text-align: start;
    padding-left: 4px;
    padding-right: 4px;
}

.debugprint th {
    border-bottom: 1px solid var(--hdb-border-color-table);
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.debugprint tr {
    text-align: start;
    padding: 5px 10px;
}

.debugprint .type {
    font-size: 1em;
    font-family: monospace;
    font-style: italic;
}

.debugprint .value {
    font-family: monospace;
}


.debugprint td.value {
    color: var(--hdb-color-value);
}

.debugprint .true {
    color: var(--hdb-color-bool-true);
}

.debugprint .false {
    color: var(--hdb-color-bool-false);
}

.debugprint th.key,
.debugprint th.type,
.debugprint th.value {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    font-style: normal;
}
