.debugprint_wrap {
  font-size: 1em;
  border-radius: 5px;
}
.debugprint td, .debugprint th {
  text-align: start;
  padding-inline: var(--hdb-pad-unit);
}
.debugprint th {
  border-bottom: 1px solid var(--hdb-border-color-table);
  padding-block-end: var(--hdb-pad-unit);
}
.debugprint tr {
  text-align: start;
}
.debugprint .key {
  font-weight: bold;
}
.debugprint .type {
  font-size: 1em;
  font-family: monospace;
  font-style: italic;
}
.debugprint .value {
  font-family: monospace;
}
.debugprint td.value {
  color: var(--hdb-color-print-value);
}
.debugprint .true {
  color: var(--hdb-color-print-bool-true);
}
.debugprint .false {
  color: var(--hdb-color-print-bool-false);
}
.debugprint th.key,
.debugprint th.type,
.debugprint th.value {
  font-family: var(--hdb-font-family-title);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  font-style: normal;
}
.debugprint.standalone .value {
  text-align: center;
}
