.hdb {
  --hdb-bg-color: black;
  --hbd-font-family: system-ui, -apple-system, Roboto, sans-serif;
  --hdb-color: #c0c0c0;
  --hdb-color-hover: #fafafa;
  --hdb-border-color: #282828;
  --hdb-font-size: 14px;
  --hdb-icon-size: 24px;
}
.hdb .hdb-btn,
.hdb a {
  box-sizing: border-box!important;
  border: 0 solid!important;
  margin: 0!important;
  padding: 0!important;
  text-decoration: none!important;
  border: none!important;
  background: transparent!important;
  box-shadow: none!important;
  text-shadow: none!important;
}
.hdb-content {
  line-height: 1.6;
  font-family: var(--hbd-font-family);
  font-size: var(--hdb-font-size);
  background: var(--hdb-bg-color);
  border: 0;
  border-block-end: 1px solid var(--hdb-border-color);
  color: var(--hdb-color);
  font-family: var(--hbd-font-family);
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  gap: 30px;
  padding-inline: 15px;
  min-height: 32px;
  max-height: 32px;
  font-size: smaller;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hdb-list {
  list-style: none;
}
.hdb-list li,
.hdb p,
.hdb summary {
  font-family: var(--hbd-font-family);
  font-size: var(--hdb-font-size);
}
#hdb-toggle {
  display: flex;
  font-family: var(--hbd-font-family)!important;
  appearance: none!important;
  position: fixed;
  right: 0;
  top: 0;
  padding: 3px!important;
  z-index: 99999;
  background-color: var(--hdb-bg-color)!important;
  color: var(--hdb-color-hover)!important;
  opacity: 0.8;
  cursor: pointer;
  text-shadow: none;
  box-shadow: none;
}
.hdb-btn svg {
  max-width: var(--hdb-icon-size);
  max-height: var(--hdb-icon-size);
}
.hdb-btn:hover { opacity: 1; }
.hdb-menu-toggle {
  appearance: none;
  background: transparent;
  color: var(--hdb-color);
  min-width: var(--hdb-icon-size);
  min-height: var(--hdb-icon-size);
  align-items: center;
  justify-self: center;
  display: flex;
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
}
.hdb a {
  color: var(--hdb-color);
  font-family: var(--hbd-font-family);
  font-size: var(--hdb-font-size);
}
.hdb-parts {
  gap: 30px;
  display: flex;
  align-items: center;
  flex: 1;
}
.hdb-menu .inner {
  font-family: var(--hbd-font-family);
  position: fixed;
  z-index: 100;
  border: 1px solid var(--hdb-border-color);
  border-block-start: none;
  border-radius: 0 0 5px 5px;
  background: var(--hdb-bg-color);
  padding: 20px;
  padding-top: 10px;
  top: 32px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.hdb-menu-site-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hdb-menu-site-menu-link {
  font-family: var(--hbd-font-family);
  font-size: var(--hdb-font-size);
  font-weight: 300;
  color: var(--hdb-color);
}
.hdb-menu-site-menu-link:hover {
  color: var(--hdb-color-hover);
}
.hdb-menu-env ul {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hdb-menu-env pre {
  overflow: auto;
  background: transparent;
  font-size: var(--hdb-font-size);
  white-space: pre;
  font-family: monospace;
  padding: 20px;
  display: inline-block;
  margin: 10px auto;
  border-radius: 5px;
  border: 2px solid #ddd;
}
@media (max-width: 1024px) {
  .hdb-parts,
  .hbd-home-link {
    display: none;
  }
  .hdb-warning-screen-size {
    display: block;
  }
}
