.hdb {
  --hdb-bg-color: #0f0a0a;
  --hdb-bg-color-inner: rgba(15,10,10, 79%);/*#0f0a0ac9;*/
  --hbd-font-family: system-ui, -apple-system, Roboto, sans-serif;
  --hdb-color: #c0c0c0;
  --hdb-color-hover: #fafafa;
  --hdb-color-value: #00fcff;
  --hdb-color-current-menu: #67ff00;
  --hdb-border-color: #282828;
  --hdb-color-bool-true: #5fff00;
  --hdb-color-bool-false: #ffd200;
  --hdb-border-color-table: #ddd;
  --hdb-font-size: 14px;
  --hdb-icon-size: 24px;
}
.hdb .hdb-btn,
.hdb a {
  box-sizing: border-box!important;
  border: 0 solid!important;
  margin: 0!important;
  padding: 0!important;
  text-decoration: none!important;
  border: none!important;
  background: transparent!important;
  box-shadow: none!important;
  text-shadow: none!important;
}
.hdb-content {
  line-height: 1.6;
  font-family: var(--hbd-font-family);
  font-size: var(--hdb-font-size);
  background: var(--hdb-bg-color);
  border: 0;
  border-block-end: 1px solid var(--hdb-border-color);
  color: var(--hdb-color);
  font-family: var(--hbd-font-family);
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  gap: 30px;
  padding-inline: 60px;
  min-height: 32px;
  max-height: 32px;
  font-size: smaller;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hdb-list {
  list-style: none;
}
.hdb-list li,
.hdb p,
.hdb summary {
  font-family: var(--hbd-font-family);
  font-size: var(--hdb-font-size);
  font-weight: 300;
}
#hdb-toggle {
  display: flex;
  font-family: var(--hbd-font-family)!important;
  appearance: none!important;
  position: fixed;
  left: 0;
  top: 0;
  padding: 5px!important;
  z-index: 99999;
  background-color: var(--hdb-bg-color)!important;
  color: var(--hdb-color)!important;
  opacity: 0.8;
  cursor: pointer;
  text-shadow: none;
  box-shadow: none;
}
.hdb-btn svg {
  max-width: var(--hdb-icon-size);
  max-height: var(--hdb-icon-size);
}
.hdb-btn:hover { opacity: 1; }
.hdb-menu-toggle {
  appearance: none;
  background: transparent;
  color: var(--hdb-color);
  min-width: var(--hdb-icon-size);
  min-height: var(--hdb-icon-size);
  align-items: center;
  justify-self: center;
  display: flex;
  text-decoration: none;
  cursor: pointer;
  text-transform: capitalize;
}
.hdb-menu summary::marker {
  content: "";
}
#hdb-toggle:hover,
.hdb-menu[open] summary {
  color: var(--hdb-color-current-menu)!important;
}
.hdb a {
  color: var(--hdb-color);
  font-family: var(--hbd-font-family);
  font-size: var(--hdb-font-size);
}
.hdb-parts {
  gap: 40px;
  display: flex;
  align-items: center;
  flex: 1;
}
.hdb-menu .inner {
  font-family: var(--hbd-font-family);
  position: fixed;
  z-index: 100;
  border: 1px solid var(--hdb-border-color);
  border-block-start: none;
  background: var(--hdb-bg-color-inner);
  top: 32px;
  left: 0;
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding-inline-start: 32px;
  width: 100vw;
  height: 50vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.hdb-menu .inner > * {
  margin: 20px;
}
.hdb-menu-site-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hdb-menu-site-menu-link {
  font-family: var(--hbd-font-family);
  font-size: var(--hdb-font-size);
  font-weight: 300;
  color: var(--hdb-color);
}
.hdb-menu-site-menu-link:hover {
  color: var(--hdb-color-hover);
}
.hdb-menu-env ul {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hdb-menu-env ul ul {
  margin-inline-start: 25px;
}
.hdb-menu-env pre {
  overflow: auto;
  background: transparent;
  font-size: var(--hdb-font-size);
  white-space: pre;
  font-family: monospace;
  padding: 20px;
  display: inline-block;
  margin: 10px auto;
  border-radius: 5px;
  border: 2px solid #ddd;
}
@media (max-width: 1024px) {
  .hdb-parts,
  .hbd-home-link {
    display: none;
  }
  .hdb-warning-screen-size {
    display: block;
  }
}
