{{- with resources.Get "css/debug-bar/styles.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin>
{{- end }}
{{- with $.Site.Params.HDB.position }}
  {{- if eq . "bottom" }}
    {{- with resources.Get "css/debug-bar/bottom.css" | minify | fingerprint }}
      <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin>
    {{- end }}
  {{- end }}
{{- end }}

{{- with resources.Get "css/debug-bar/debugprint.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" crossorigin>
{{- end }}
  
{{- partial "debug-bar/buttons/bar-toggle.html" . -}}
<div id="hdb" class="hdb" role="toolbar">
  <div id="hdb-content" class="hdb-content hdb-flex">
    <p class="hdb-warning hdb-warning-screen-size" hidden>{{ i18n "debug_bar.warning.size" | safeHTML }}</p>
    <div class="hdb-parts hdb-flex">
      {{- partial "debug-bar/parts/env-stats.html" . -}}
      {{- partial "debug-bar/parts/params.html" . -}}
      {{- partial "debug-bar/parts/page.html" . -}}
      {{- partial "debug-bar/parts/resources.html" . -}}
    </div>

    {{- partial "debug-bar/settings.html" . -}}
  </div>
</div>

{{ $js := resources.Get "js/debug-bar/main.js" | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
{{ $js := resources.Get "js/debug-bar/settings.js" | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
